<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.bbs.entity.News">
            <id property="newsId" column="news_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="imageurl" column="imageurl" jdbcType="VARCHAR"/>
            <result property="viewTotal" column="view_total" jdbcType="BIGINT"/>
            <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="lastReplyTime" column="last_reply_time" jdbcType="TIMESTAMP"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createId" column="create_id" jdbcType="BIGINT"/>
            <result property="updateId" column="update_id" jdbcType="BIGINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="essence" column="essence" jdbcType="TINYINT"/>
            <result property="weight" column="weight" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        news_id,title,user_name,
        summary,content,imageurl,
        view_total,tag_id,ip,
        comment_count,last_reply_time,like_count,
        status,create_time,create_id,
        update_id,sort,essence,
        weight
    </sql>
</mapper>
