<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.mapper.UserAccountMapper">

    <resultMap id="BaseResultMap" type="com.bbs.entity.UserAccount">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="rank" column="rank" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="age" column="age" jdbcType="TINYINT"/>
            <result property="phone" column="phone" jdbcType="BIGINT"/>
            <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,rank,
        score,real_name,sex,
        age,phone,id_card,
        remark
    </sql>
</mapper>
