<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clinic.mapper.PrescriptionMapper">
<!--	<select id="selectJoinById" resultType="com.clinic.dto.PrescriptionFileVo">-->
<!--		SELECT-->
<!--			p.id,-->
<!--			pa.name,-->
<!--			pa.sex,-->
<!--			pa.age,-->
<!--			d.past_medical_history,-->
<!--			d.weight,-->
<!--			p.expiration_date,-->
<!--			d.diagnosis,-->
<!--			u.name AS doctorName,-->
<!--			c.name AS clinicName,-->
<!--			p.price-->
<!--		FROM-->
<!--			prescription p-->
<!--				LEFT JOIN patient pa ON p.patient_id = pa.id-->
<!--				LEFT JOIN dossier_prescription dp ON p.id = dp.prescription_id-->
<!--				LEFT JOIN dossier d ON dp.dossier_id = d.id-->
<!--				LEFT JOIN user u ON p.creator = u.id-->
<!--				LEFT JOIN clinic c ON c.user_id = p.creator-->
<!--		where p.id = #{id}-->
<!--	</select>-->

</mapper>