<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.content.mapper.ContentMapper">

    <resultMap id="BaseResultMap" type="com.bbs.content.entity.Content">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="html" column="html" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,html
    </sql>
</mapper>
