<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.financial.mapper.AssetChangeLogMapper">

    <resultMap id="BaseResultMap" type="com.bbs.financial.entity.AssetChangeLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="entryMonth" column="entry_month" jdbcType="VARCHAR"/>
            <result property="no" column="no" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="changeItem" column="change_item" jdbcType="VARCHAR"/>
            <result property="changeBeforValue" column="change_befor_value" jdbcType="VARCHAR"/>
            <result property="changeAfterValue" column="change_after_value" jdbcType="VARCHAR"/>
            <result property="changeMonth" column="change_month" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_id,entry_month,
        no,name,change_item,
        change_befor_value,change_after_value,change_month,
        create_time,create_by,is_deleted
    </sql>
</mapper>
