<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.CustomizeTableMapper">

    <resultMap id="BaseResultMap" type="com.manage.entity.CustomizeTable">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="property" column="property" jdbcType="VARCHAR"/>
            <result property="propertyType" column="property_type" jdbcType="VARCHAR"/>
            <result property="wareHouseId" column="ware_house_id" jdbcType="BIGINT"/>
            <result property="inputType" column="input_type" jdbcType="VARCHAR"/>
            <result property="options" column="options" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,property,
        property_type,ware_house_id,input_type,
        options,sort
    </sql>
</mapper>
